.flows.json.backup
[{"id":"e0c9bd31.7c69a","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"985d40ba.e3287","type":"Gravity Server","server":"my-gravity-userdatagravity-nats.gravity-user","port":"4222"},{"id":"9d0f0211.86d34","type":"Gravity Subscriber","z":"e0c9bd31.7c69a","name":"subscriber","server":"985d40ba.e3287","subscriberID":"","enabledAuth":false,"initialLoad":true,"collections":["accountData"],"x":80,"y":360,"wires":[["862b7883.1e99a8"]]},{"id":"18d3fc9b.c6e893","type":"Gravity Acknowledge","z":"e0c9bd31.7c69a","name":"","x":410,"y":580,"wires":[]},{"id":"63d066c2.b2adc8","type":"complete","z":"e0c9bd31.7c69a","name":"","scope":["9d0f0211.86d34"],"uncaught":false,"x":180,"y":580,"wires":[["18d3fc9b.c6e893"]]},{"id":"6b9c28a8.4e26c8","type":"debug","z":"e0c9bd31.7c69a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":340,"wires":[]},{"id":"862b7883.1e99a8","type":"switch","z":"e0c9bd31.7c69a","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":360,"wires":[["6b9c28a8.4e26c8"],["6cbd23c3.665edc"]]},{"id":"6cbd23c3.665edc","type":"change","z":"e0c9bd31.7c69a","name":"","rules":[{"t":"set","p":"payload.event","pt":"msg","to":"snapshot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["6b9c28a8.4e26c8"]]}]