flows.json
[{"id":"e0c9bd31.7c69a","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"985d40ba.e3287","type":"Gravity Server","server":"my-gravity-userdatagravity-nats.gravity-user","port":"4222"},{"id":"9d0f0211.86d34","type":"Gravity Subscriber","z":"e0c9bd31.7c69a","name":"subscriber","server":"985d40ba.e3287","subscriberID":"","enabledAuth":false,"initialLoad":true,"collections":["accountData"],"x":80,"y":360,"wires":[["862b7883.1e99a8"]]},{"id":"18d3fc9b.c6e893","type":"Gravity Acknowledge","z":"e0c9bd31.7c69a","name":"","x":360,"y":560,"wires":[]},{"id":"63d066c2.b2adc8","type":"complete","z":"e0c9bd31.7c69a","name":"","scope":["b55d69bc.8537d8"],"uncaught":false,"x":90,"y":560,"wires":[["18d3fc9b.c6e893"]]},{"id":"862b7883.1e99a8","type":"switch","z":"e0c9bd31.7c69a","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"accountCreated","vt":"str"},{"t":"eq","v":"accountInitialized","vt":"str"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":360,"wires":[["904a9972.b01c38"],["904a9972.b01c38"],["6cbd23c3.665edc"]]},{"id":"6cbd23c3.665edc","type":"change","z":"e0c9bd31.7c69a","name":"","rules":[{"t":"set","p":"payload.event","pt":"msg","to":"snapshot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[["b55d69bc.8537d8","c0264492.bd3688"]]},{"id":"904a9972.b01c38","type":"change","z":"e0c9bd31.7c69a","name":"","rules":[{"t":"change","p":"payload.event","pt":"msg","from":"accountCreated","fromt":"str","to":"userCreated","tot":"str"},{"t":"change","p":"payload.event","pt":"msg","from":"accountInitialized","fromt":"str","to":"snapshot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["b55d69bc.8537d8","c0264492.bd3688"]]},{"id":"b55d69bc.8537d8","type":"Gravity Publish","z":"e0c9bd31.7c69a","name":"","server":"985d40ba.e3287","adapterID":"","x":900,"y":420,"wires":[]},{"id":"c0264492.bd3688","type":"debug","z":"e0c9bd31.7c69a","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":300,"wires":[]}]